.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
}

.App-header {
  /* background-image: url("./assets/images/cloud-background.jpg"); */
  background-color: black;
  background-position: center;
  height: 150px;
  padding: 20px;
  color: white;
  padding: 100px 0 1000px 0;
}

.App-intro {
  font-size: large;
}

#darkSkyBtn {
  background-color: rgb(0, 0, 255);
  color: white;
}

#logout {
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

#menuTitle {
  margin: 0 7px 0 7px;
  font-weight: 700;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
